@{
    ViewData["Title"] = "Relatório de Faturamento por Veículo";
}


    <div class="container mt-5">
        <h2 class="mb-4">Relatório de Faturamento por Veículo</h2>
        <form method="post" asp-controller="Relatorio" asp-action="FaturamentoPorVeiculo">
            <div class="form-group">
                <label for="ano">Ano:</label>
                <input type="number" class="form-control" id="ano" name="ano" required />
            </div>
            <div class="form-group">
                <label for="mes">Mês:</label>
                <input type="number" class="form-control" id="mes" name="mes" required min="1" max="12" />
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>


