@{
    ViewData["Title"] = "Relatório de Média Mensal de Viagens por Sexo";
}

<h2>Relatório de Média Mensal de Viagens por Sexo</h2>

<form method="post" asp-controller="Relatorio" asp-action="MediaMensalViagensPorSexo">
    <button type="submit">Gerar Relatório</button>
</form>
